* {
    box-sizing: border-box;
    margin: 0px;
}


body {
    background-color: whitesmoke;
    text-align: center;
}

.game-time-btns {
    padding: .5rem;
    background-color:#AEB6BF ;
    border: none;
    border-radius: 5px;
}

.game-time-btns:hover {
    cursor: pointer;
}

.board-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 90%;
    flex-direction: column;
    background-color: #D5DBDB;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 70vw;
    
}

.game-over-modal {
    width: 20%;
    background-color: #F8C471;
    border-radius: 10px;
    z-index: 10;
    position: absolute;
    left: auto;
    top: auto;
    padding: 1rem;
    
}

.game-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    
}



.black {
    background-color: gray
}
.white {
    background-color:rgb(236, 245, 245);
}

.selected {
    outline: 5px solid orange;
}

.restart-game {
    background-color: rgb(141, 141, 141);
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.restart-game:hover {
    cursor: pointer;
}


.mark {
    background-color: lightpink
}

.center {
    margin-left: auto;
    margin-right: auto;
}
.game-board td {
    width: 40px;
    height:40px;
    text-align: center;
    font-size:1.4em;
}


.can-eat {
    background-color:red;
}

